
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HIEPSTORE-Trang quản trị</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/adminassets/images/logo/favicon.png">
    <!-- Font awesome 5 -->
    <link href="~/adminassets/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- page css -->

    <!-- Core css -->
    <link href="~/adminassets/css/app.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
    <!--summernote-->
    <link href="~/Adminassets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Adminassets/summernote/summernote.css" rel="stylesheet" />


</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            @await Component.InvokeAsync("AdminHeader")
            <!-- Header END -->

            <!-- Side Nav START -->
            @await Component.InvokeAsync("AdminSidebar")
            <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="page-container">
                

                <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()
                </div>
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <footer class="footer">
                    <div class="footer-content">
                        <p class="m-b-0">Copyright © 2019 Theme_Nate. All rights reserved.</p>
                        <span>
                            <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
                            <a href="" class="text-gray">Privacy &amp; Policy</a>
                        </span>
                    </div>
                </footer>
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->
        </div>
    </div>

    
    <!-- Core Vendors JS -->
    <script src="~/adminassets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/adminassets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/adminassets/js/pages/dashboard-default.js"></script>
    <script src="~/Adminassets/js/pages/dashboard-e-commerce.js"></script>

    <!-- Validate -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/Adminassets/vendors/select2/select2.min.js"></script>
    <script src="~/Adminassets/js/pages/e-commerce-product-edit.js"></script>
    <script src="~/Adminassets/summernote/summernote-bs4.js"></script>

    <script>

        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>

    <!-- Core JS -->
    <script src="~/adminassets/js/app.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts",required:false)

</body>

</html>
