@{
    ViewData["Title"] = "Quên Mật khẩu";

}

<section class="section-content padding-y">

	<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
		<article class="card-body">
			<header class="mb-4"><h4 class="card-title text-center">Quên mật khẩu</h4></header>
			<form asp-action="ForgotPassword" asp-controller="Accounts" method="post">
				<div class="form-group">
					<label>Nhập email tài khoản, chúng tôi sẽ giúp bạn khôi phục mật khẩu</label>
					<input name ="Email" type="email" class="form-control" placeholder="Nhập Email">
				</div> <!-- form-group end.// -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"> Xác nhận </button>
				</div> <!-- form-group// -->
			</form>
		</article><!-- card-body.// -->
	</div> <!-- card .// -->
	<p class="text-center mt-4">Bạn vừa nhớ ra mật khẩu? <a href="#">Đăng nhập</a> hoặc <a href="#">Đăng kí</a></p>
	<br><br>
	<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
