@model HiepStore.ModelViews.LoginViewModel

@{
    ViewData["Title"] = "Đăng nhập tài khoản";
    var returnUrl = ViewData["returnUrl"] as string;
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Đăng nhập</h4>
            <form action="/dang-nhap.html?returnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
                <a href="https://www.facebook.com/dialog/oauth?client_id=@Html.DisplayFor(model => model.FacebookAppId)&redirect_uri=@Html.DisplayFor(model => model.FacebookRedirectUri)&&response_type=code&scope=email" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Đăng nhập với Facebook</a>
                <a asp-area="" asp-controller="Accounts" asp-action="LoginWithGoogle" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Đăng nhập với Google</a>
                <div class="form-group">
                    <input type="email" asp-for="UserName" class="form-control" placeholder="Địa chỉ Email">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Mật khẩu">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <a asp-action="ForgotPassword" asp-controller="Accounts" class="float-right">Quên mật khẩu?</a>
                    <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Lưu mật khẩu </div> </label>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Đăng nhập  </button>
                </div> <!-- form-group// -->

            </form>

        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Chưa có tài khoản? <a asp-controller="Accounts" asp-action="Register">Đăng kí</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


