@{
	ViewData["Title"] = "Gửi mail thành công";
}

<article class="card">
	<div class="card-body">
		<div class="mt-4 mx-auto text-center" style="max-width:600px">
			<svg width="96px" height="96px" viewBox="0 0 96 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="round-check">
						<circle id="Oval" fill="#D3FFD9" cx="48" cy="48" r="48">
						</circle>
						<circle id="Oval-Copy" fill="#87FF96" cx="48" cy="48" r="36">

						</circle>
						<polyline id="Line" stroke="#04B800" stroke-width="4" stroke-linecap="round" points="34.188562 49.6867496 44 59.3734993 63.1968462 40.3594229">

						</polyline>
					</g>
				</g>
			</svg>
			<div class="my-3">
				<h4>Đã gửi mail khôi phục mật khẩu</h4>
				<p>
					Một email đã được gửi đến <span>@ViewBag.email</span>. vui lòng kiểm tra Email và làm theo hướng dẫn trong mail.
				</p>
			</div>
		</div>
		<br>
		<button asp-action="Index" asp-asp-controller="Home">Về trang chủ</button>
	</div>
</article>