@{
    ViewBag.Title = "About";
}
<h3>Về chúng tôi</h3>

<p style="margin:40px; font-size:25px">
    Westcon-Comstor là nhà cung cấp công nghệ hàng đầu toàn cầu và chuyên gia phân phối công nghệ kinh doanh.

    Hoạt động tại hơn 70 quốc gia, chúng tôi mang đến giá trị và cơ hội kinh doanh bằng cách kết nối các nhà cung cấp CNTT hàng đầu thế giới với một kênh phân phối gồm các đại lý công nghệ, nhà tích hợp hệ thống và nhà cung cấp dịch vụ.

    Chúng tôi kết hợp hiểu biết sâu sắc về ngành, chuyên môn kỹ thuật và nhiều thập kỷ kinh nghiệm phân phối để mang lại giá trị và tăng tốc cho các nhà cung cấp của chúng tôi và hỗ trợ các đối tác thành công trong kinh doanh.
</p>
