<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="max-age=604800" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="description" content="Bootstrap e-commerce html template similar to Alibaba">
	<meta name="keywords" content="Online template, shop, theme, template, html, css, bootstrap 4">

	<title>Website title - bootstrap alistyle html template</title>

	<link href="~/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<!-- jQuery -->
	<script src="~/assets/js/jquery-2.0.0.min.js" type="text/javascript"></script>

	<!-- Bootstrap4 files-->
	<script src="~/assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	<link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<!-- Font awesome 5 -->
	<link href="~/assets/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
	<!-- custom style -->
	<link href="~/assets/css/ui.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />

	<!-- custom javascript -->
	<script src="~/assets/js/script.js" type="text/javascript"></script>
	<!--Kiểm duyệt comment fb-->
	<meta property="fb:app_id" content="1316152032521412" />
	<meta property="fb:admins" content="nquyhiep" />
	<!--<meta property="fb:app_id" content="&#123;1316152032521412&#125;" />-->
</head>
<body>

	<b class="screen-overlay"></b>
	<!-- section-header -->
	@await Html.PartialAsync("_HeaderPartialView.cshtml")
	<!-- section-header END.// -->
	@RenderBody()
	<!-- ========================= FOOTER ========================= -->
	@await Html.PartialAsync("_FooterPartialView.cshtml")
	<!-- ========================= FOOTER END // ========================= -->
	<!--Main JS (Common Activation Codes)-->
	@await Component.InvokeAsync("Notyf")
	@await RenderSectionAsync("Scripts", required:false)
	

</body>
</html>