<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="widget">
                    <div class="footer-text text-left">
                        <a href="index.html"><img src="images/version/tech-footer-logo.png" alt="" class="img-fluid"></a>
                        <p>Đây là trang tin tức của HiepStore, cập nhật các tin tứ mới nhất 24/7 về thế giới công nghệ.<br /> HiepStore là hệ thống bán lẻ các thiết bị điện tử và phụ kiện trên nền tảng online và offline.</p>
                        <div class="social">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>

                        <hr class="invis">

                        <div class="newsletter-widget text-left">
                            <form class="form-inline">
                                <input type="text" class="form-control" placeholder="Enter your email address">
                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </form>
                        </div><!-- end newsletter -->
                    </div><!-- end footer-text -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Danh mục tin tức</h2>
                    <div class="link-widget">
                        <ul>
                            @foreach (var item in ViewBag.ListTag)
                            {
                                string url = $"/tin-tuc/tags/{item.Alias}-{item.Id}";
                                <li><a href="@url">@item.Name</a></li>

                            }
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Copyrights</h2>
                    <div class="link-widget">
                        <ul>
                            <li><a href="/page/ve-chung-toi">về chúng tôi</a></li>
                            <li><a href="/page/cong-tac">Cộng tác với chúng tôi</a></li>
                            <li><a href="/page/chinh-sach-doi-tra">Chính sách đổi trả</a></li>
                            <li><a href="/page/chinh-sach-ban-hang">Chính sách bán hàng</a></li>
                            <li><a href="/page/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
                            <li><a href="/">Trang mua hàng</a></li>
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <div class="copyright">&copy; HiepStore <a href="http://html.design">Đã Thông báo bộ công thương</a>.</div>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->
